/* ------------------------------------------------------------------------------------------ */
/* PALETA DE COLORES */
/* ------------------------------------------------------------------------------------------ */
/*
    Naranja:            #e67e22
    Verde:              #22A39F
    Gris claro:         #f3efe0
    Gris sticky 
    navigation          #efefef;
    Color de Twitter:   #55acee
    Color de Facebook:  #3b5998
    Color de Google+:   #dd4b39
*/

/* ------------------------------------------------------------------------------------------ */
/* INICIO */
/* ------------------------------------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluir márgenes y padding en la definición del elemento */
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ------------------------------------------------------------------------------------------ */
/* COMPONENTES REUSABLES */
/* ------------------------------------------------------------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------ */
/* HEADINGS */
/* ------------------------------------------------------------------------------------------ */

h1,
h2,
h3 {
    font-weight: 300;  
}

h1 {
    margin-top: 0; /* Margen superior */    
    margin-bottom: 20px; /* Margen inferior */
    color: #f3efe0;
    font-size: 240%; /* Respecto al definido en *, html o body */    
    word-spacing: 4px; /* Espaciado entre palabras */
    letter-spacing: 1px; /* Espaciado entre letras */
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
	margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px; /* Espaciado entre letras */
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%; 
    margin-bottom: 6px;
}


/* ------------------------------------------------------------------------------------------ */
/* BOTONES */
/* ------------------------------------------------------------------------------------------ */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block; /* Permite establecer padding y margin como si fueran elementos de tipo block */
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none; /* Eliminar subrayado por debajo que tiene por defecto el enlace <a> en HTML*/
    border-radius: 200px; /* Botones redondeados */
    color: #fff; /* Color de la fuente */
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* Tiempo que tarda en cambiar de color cuando pasa el ratón */
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    border: 1px solid #e67e22;
    background-color: #e67e22; /* Color de fondo CARROT de www.flatuicolors.com */
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22; /* Color de fuente CARROT de www.flatuicolors.com */*/
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17; /* Variaciones de color www.0to255.com */
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* ------------------------------------------------------------------------------------------ */
/* PÁRRAFOS */
/* ------------------------------------------------------------------------------------------ */

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ------------------------------------------------------------------------------------------ */
/* ICONOS */
/* ------------------------------------------------------------------------------------------ */
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    line-height: 120%;
    vertical-align: baseline;
    margin-right: 10px;
}


/* ------------------------------------------------------------------------------------------ */
/* CABECERA */
/* ------------------------------------------------------------------------------------------ */

.transparencia
{
    background-image:  url(img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cabecera {
    color: #e67e22;
    position: absolute;
    width: 1140; /* Mismo ancho que el estilo .row de la fila del grid */
    top: 50%; /* Alineación vertical centrada */
    left: 50%; /* Alineación horizontal comenzando en la mitad de la pantalla */
    -ms-transform: translate(-50%, -50%); /* IE9: Desplazamiento horizontal del texto para centrarlo en pantalla */    
    transform: translate(-50%, -50%); /* IE9: Desplazamiento horizontal del texto para centrarlo en pantalla */    
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 5px;
}

.main-nav li a:link,
.main-nav li a:visited
{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
    color: #e67e22;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}

.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{
    padding: 8px 0;
    color: #555;
}

/* ------------------------------------------------------------------------------------------ */
/* QUIÉN SOY */
/* ------------------------------------------------------------------------------------------ */

.quien-soy {
    margin-bottom: 20px;
}

.texto-alineado {
    text-align: justify;
}

.logo-centrado {
    width: 200px;
    height: 200px;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.quien-soy h3 {
    color: #22A39F; /* Verde */
}

.quien-soy h4 {
    font-size: 85%;   
    margin-bottom: 5px;
}

.quien-soy p {
    font-size: 85%;   
    margin-bottom: 10px;
    line-height: 1.4;
}

.ion-social-twitter-outline {
    color: #55acee;
}

.ion-social-facebook-outline {
    color: #3b5998;
}

.ion-social-googleplus-outline {
    color: #dd4b39
}

/* ------------------------------------------------------------------------------------------ */
/* ESTUDIOS Y CERTIFICACIONES */
/* ------------------------------------------------------------------------------------------ */

.estudios-y-certificaciones { 
    background-color: rgba(201, 208, 208, 0.13); /* Gris claro */
    margin-bottom: 20px;
}

.titulo-estudio {
    color: #22A39F;
}

/* ------------------------------------------------------------------------------------------ */
/* EXPERIENCIA PROFESIONAL */
/* ------------------------------------------------------------------------------------------ */

.experiencia-profesional {
    margin-bottom: 20px;    
}

.experiencia-profesional h4 {
    font-size: 75%;
    margin-bottom: 5px
}

.experiencia-profesional ul li {
    list-style: none;
    line-height: 1.4;
}

.fecha-trabajo {
    font-weight: bold;
}

.empresa {
    color: #22A39F;
    font-weight: bold;
}

.cargo-trabajo {
    text-transform: none;
    font-weight: bold;
}

p.responsabilidades {
    font-weight: bold;
    padding-bottom: 5px;
    color: #7b7b7b;
}

/* ------------------------------------------------------------------------------------------ */
/* CONOCIMIENTOS */
/* ------------------------------------------------------------------------------------------ */

.conocimientos {
    background-color: #f3efe0; /* Color de fondo marrón */
    margin-bottom: 20px;
}

.conocimientos p {
    color: #22A39F;
}

.conocimientos .parrafo-conocimientos {
    display: inline-block;
    color: #7b7b7b;
}

.ion-ios-star {
    color: #22A39F;
    float: right;
}

.ion-ios-star-outline {
    color: #22A39F;
    float: right;
}

/* ------------------------------------------------------------------------------------------ */
/* SOBRE MI */
/* ------------------------------------------------------------------------------------------ */

.sobre-mi {
    margin-bottom: 20px;   
}

.sobre-mi h3 {
    color: #22A39F;
}

.sobre-mi ul li {
    list-style: none;
    line-height: 1.5;
}

/* ------------------------------------------------------------------------------------------ */
/* Capa para mostrar mensajes de error */
/* ------------------------------------------------------------------------------------------ */

div.alert-message {
    display: none;
    padding: 13px 12px 12px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #2ba6cb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    position: relative;
}
div.alert-message .box-icon {
    display: block;
    float: left;
    background-image: url('img/icon.png');
    width: 30px;
    height: 25px;
    margin-top: -2px;
    background-position: -8px -8px;
}
div.alert-message p {
    margin: 0px;
}
div.alert-message.success {
    background-color: #5da423;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.success .box-icon {
    background-position: -48px -8px;
}
div.alert-message.error {
    background-color: #c60f13;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.error .box-icon {
    background-position: -128px -8px;
}
div.alert-message a.close {
    color: #fff;
    position: absolute;
    right: 4px;
    top: -1px;
    font-size: 17px;
    padding: 4px;
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------------ */
/* CONTACTO */
/* ------------------------------------------------------------------------------------------ */

.contact-form {
    background-image: url(img/contacto.jpg); /* Inagen de fondo transparente ub 30%. Color de inicio y de fin del gradiente: negro (0,0,0) */
    background-attachment: fixed;
    color: #fff;
    padding: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea
{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

/* ------------------------------------------------------------------------------------------ */
/* PIÉ DE PÁGINA */
/* ------------------------------------------------------------------------------------------ */

footer {
  background-color: #585454;
  padding: 25px;
  font-size: 80%;
  text-align: center;
  color: #fff;
}